.characterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.character {
    width: 21%;
    height: auto;
    max-height: 200px;
    margin: 15px 0;
}

.character img{
    width: 100%;
    height: 100%;
}